/* Import Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
  background-color: #141414 !important; /* Force dark background */
  color: #ffffff !important; /* Force light text */
  height: 100%;
  margin: 0;
  padding-top: 60px;
  font-family: "Source Code Pro", monospace !important;
}

.laptop-text {
  color: green
}

.vscode-topbar {
  background-color: #2d2d2d;
}

.vscode-window {
  background-color: #1e1e1e;
  border: 1px solid #444;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.circle.red {
  background-color: #ff5f56;
}

.circle.yellow {
  background-color: #ffbd2e;
}

.circle.green {
  background-color: #27c93f;
}



.container {
  background-color: #141414 !important; 
  padding: 2rem;
  border-radius: 10px;

}

.input-group .form-control {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #444 !important;
}

.input-group .form-control::placeholder {
  color: #bbb !important;
}

.input-group .btn-primary {
  background-color: #007bff !important;
  border-color: #0056b3 !important;
}

.input-group .btn-primary:hover {
  background-color: #0056b3 !important;
}

.custom-width {
  width: 100%; /* Full width on small screens */
}

@media (min-width: 768px) {
  .custom-width {
    width: 75%; /* 75% width on larger screens */
  }
}

/* Navbar Customization */
.navbar { 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding-top: 0px !important;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.5rem;
  color: #008000 !important;
}

.nav-link {
  color: green !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #0d6efd !important; /* Bootstrap primary blue */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important; 
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important; 
}
/* Footer */
.footer {
  background-color: #1e1e1e;
  padding: 20px;
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
  margin-top: 40px;
  border-top: 1px solid #333;
}
